

  body{
        background-color:#d4d4d4;
        
    
  }
  hr{
    border-style:dotted none none;
    border-width: 5px;
    border-color: rgb(87, 55, 55);
    width: 5%;
  }
  h1{
    color: #66BFBF;
  }
   h3{
    color: rgb(0, 0, 0);
  }
  